.bgcolor-bg{
  background-color: var(--bgcolor);
}
.bgcolor-primary{
  background-color: var(--primarycolor);
}
.bgcolor-black{
  background-color: black;
}
.bgcolor-white{
  background-color: white;
}