.ellipsis-row-2{
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.ellipsis-row-3{
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.ellipsis-link{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: var(--bgcolor);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,1) 100%);
  padding-left: 3em;
  display: inline-block;
}