:root{
  --primarycolor: red;
  --primarysubcolor: #999999;
  --bgcolor: #ffffff;
  --bgsubcolor: #cccccc;
  --radius: 30px;
  --radius-small: 7px;
  --height-element: 3.75rem;
  --height-element-tablet: 4.16667rem;
}